
* {
    font-family: Roboto, sans-serif;  
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Thin.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
      font-weight: 200;
      font-style: italic;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Light.ttf') format('truetype');
      font-weight: 100;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-LightItalic.ttf') format('truetype');
      font-weight: 100;
      font-style: italic;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-Medium.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: 
           url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
  }

  /* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    /*padding-top: 102px;*/
    padding-top: 20px;
  }
  .footer {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .panel-header{
    font-weight: lighter;
    font-size: 4em;
    padding: 0 4rem;
    text-align: center;
  }